<!-- <span id="filterspan" (click)="openNav()" style="color: white;">
  <button (click)="getData()" id="filterbtn"
            class="btn btn-dark"> Filter</button></span> -->
<div id="mySidenav" class="sidenav nav" style=" background-color: #72A4C2;">
    <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" id="closebtn">&times;</a> -->

    <!-- <a href="#" class="ml-1 text-white">Location</a> -->
    <div class="btn-group">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Category</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">

            <a href="#" class="button">All</a>
            <a (click)="listHousingPosts('Housing')" class="button">Housing</a>
            <a (click)="listEntertainmentPosts('Entertainment')" class="button">Entertainment</a>
            <a (click)="listFoodPosts('Food')" class="button">Food</a>
            <a (click)="listEventPosts('Events')" class="button">Events</a>
            
        </div>
    </div>
    <div class="btn-group">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown2" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</a>
        <div [(ngModel)]="this.locationForPosts" class="dropdown-menu"
            aria-labelledby="navbarDropdown2">
            <button class="text-secondary btn my-2 my-sm-0" (click)="filterByLocation(0)" style="font-size: 25px;">All</button>
            <button class="text-secondary btn my-2 my-sm-0" (click)="filterByLocation(loc.id)" style="font-size: 25px; " *ngFor="let loc of locationdata">{{loc.city}}, {{loc.state}}</button>
        </div>
    </div>
</div>

<div class="col">


    <app-writepost id="writepost" (newItemEvent)="updatePosts($event)"></app-writepost>

    <div [ngSwitch]=view>
        <div *ngSwitchCase="'all'">
            <div *ngFor="let post of postList.slice().reverse()" style="color: black;">
                <div class="card py-4 " style="padding-left: 12px;">
                    <div *ngIf='role==="Admin" && post.pinStatus.pinStatus==="Default"'>
                       
                            <button (click)="pinPostLocation(post)" id="pinLocation">Pin by Location </button>
                            <button (click)="pinPostCategory(post)" id="pinCategory">Pin by Category</button>
                       
                        
                    </div>
                     <div *ngIf='post.pinStatus.pinStatus==="Location"'>
                        <p>Pinned by Location</p>
                    </div> 
                    <div *ngIf='post.pinStatus.pinStatus==="Category"'>
                        <p>Pinned by Category</p>
                    </div>
                    <div class="" style="text-align: left; height: 15rem; display: flex; flex-direction: column;">
                        <div style="border-bottom: 1px solid white;">
                            
                            <div style="display:block; margin-left: -10px;">
                            <svg (click)="addUpvote(post)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16" style="margin-bottom: 10px; margin-right: 3px; display:inline; position:absolute;">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                              </svg>
                              <h3 class="card-title" style="display:inline; position: absolute; padding-top: 10px; margin-left: 26px;">{{post.title}}</h3>   
                              <br>
                              <svg (click)="addDownvote(post)" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" style="margin-bottom: 10px; margin-right: 3px; display:inline; ">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                              </svg>
                            </div>
                            
                            <div style="margin-left: 3%;">
                                <p class="card-subtitle mr-auto">posted by: {{post.username}}</p>

                                <p class="card-subtitle">{{post.categoryType}}</p>
                                <p class="card-subtitle mb-2">{{post.locationId.city}}, {{post.locationId.state}}
                                </p>
                                <div (click)='deletePost(post)' *ngIf='role==="Admin"'>
                                <button id="deleteButton" > Delete </button>
                                </div>
                            </div>

                        </div>

                        <div style="height: 100%; flex: 1;">
                            <div style="padding: 10px 0 10px 16px">{{post.content}}</div>
                            <div style="border-top: 1px solid white;">
                                <app-reponse [postId]=post.id></app-reponse>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'Food'">
            <div *ngFor="let post of foodPosts" style="color: black;">
                <div class="card py-4 " style="padding-left: 12px;">
                    <div class="" style="text-align: left;">
                        <div style="border-bottom: 1px solid white;">
                            <h3 class="card-title">{{post.title}}</h3>
                            <div>
                                <p class="card-subtitle  mr-auto">posted by: {{post.username}}</p>

                            </div>
                            <p class="card-subtitle">{{post.categoryType}}</p>
                            <p class="card-subtitle mb-2">{{post.locationId.city}}, {{post.locationId.state}}
                            </p>
                        </div>
                    </div>
                    <div style=" border-bottom: 1px solid white;" class="p-2">
                        <p>{{post.content}}</p>

                    </div>
                    <app-reponse [postId]=post.id></app-reponse>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'Housing'">
            <div *ngFor="let post of housingPosts" style="color: black;">
                <div class="card p-4">
                    <div class="" style="text-align: left;">
                        <div style="border-bottom: 1px solid white;">
                            <h3 class="card-title">{{post.title}}</h3>
                            <div>
                                <p class="card-subtitle  mr-auto">posted by: {{post.username}}</p>

                            </div>
                            <p class="card-subtitle">{{post.categoryType}}</p>
                            <p class="card-subtitle mb-2">{{post.locationId.city}}, {{post.locationId.state}}
                            </p>
                        </div>
                    </div>
                    <div style=" border-bottom: 1px solid white;" class="p-2">
                        <p>{{post.content}}</p>

                    </div>
                    <app-reponse [postId]=post.id></app-reponse>
                </div>
            </div>
        </div>

        <div *ngSwitchCase="'Events'">
            <div *ngFor="let post of eventPosts" style="color: black;">
                <div class="card p-4">
                    <div class="" style="text-align: left;">
                        <div style="border-bottom: 1px solid white;">
                            <h3 class="card-title">{{post.title}}</h3>
                            <div>
                                <p class="card-subtitle  mr-auto">posted by: {{post.username}}</p>

                            </div>
                            <p class="card-subtitle">{{post.categoryType}}</p>
                            <p class="card-subtitle mb-2">{{post.locationId.city}}, {{post.locationId.state}}
                            </p>
                        </div>
                    </div>
                    <div style=" border-bottom: 1px solid white;" class="p-2">
                        <p>{{post.content}}</p>

                    </div>
                    <app-reponse [postId]=post.id></app-reponse>
                </div>

            </div>
        </div>

        <div *ngSwitchCase="'Entertainment'">
            <div *ngFor="let post of entertainmentPosts" style="color: black;">
                <div class="card p-4">
                    <div class="" style="text-align: left;">
                        <div style="border-bottom: 1px solid white;">
                            <h3 class="card-title">{{post.title}}</h3>
                            <div>
                                <p class="card-subtitle  mr-auto">posted by: {{post.username}}</p>

                            </div>
                            <p class="card-subtitle">{{post.categoryType}}</p>
                            <p class="card-subtitle mb-2">{{post.locationId.city}}, {{post.locationId.state}}
                            </p>
                        </div>
                    </div>
                    <div style=" border-bottom: 1px solid white;" class="p-2">
                        <p>{{post.content}}</p>

                    </div>
                    <app-reponse [postId]=post.id></app-reponse>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Little problem is that when I  try to filter the posts by one thing i.e. Food, 
     and filter by something else, I cannot filter by food again unless refreshing 
     Hopefully we will figure a solution soon! -->